:root{
    --cor-principal: #ffffff;
    --cor-letras: #ffffff;
    --fonte-padrao: 'Arial', sans-serif;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.body-card {
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    background-color: #1e1e24;
    border-radius: 15px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input {
    border-radius: 5px;
}

button {
  margin-top: 10px;
  padding: 12px;
  background-color: #04012d;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
}

.card-titulo {
    text-align: center;
    font-family: var(--fonte-padrao);
    color: var(--cor-letras)
}

.fields-email,
.fields-senha,
.btn-login {
    display: flex;
    flex-direction: column;
    color: var(--cor-letras)
}